/*
    Document   : main
    Created on : Jul 19, 2012, 7:28:41 PM
    Author     : Ionut Cristian Ciuperca <ionut.ciuperca@gmail.com>
    Description:
        Main stylefor yablog
*/


.span12 h1{color:#FE6E4C; font-weight: bold; padding: 5px;}
h3 {margin: 10px 0 10px 0;}

.inline li {
    display: inline;
}

input[name=login-submit] {
    display: block;
}

.errors {
    font-size: 1.5em;
    color: crimson;
}
